In [412]:
import yfinance as yf
from pymongo import MongoClient

In [413]:
#!pip install yfinance

In [414]:
quote = yf.Ticker('AIR.PA')

In [415]:
# period = yf.HistoricalPrices()
period= '1mo'
interval = '1d'
hist = quote.history(period=period, interval=interval)
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-20 00:00:00+01:00,117.279999,118.980003,116.919998,118.919998,1172376,0.0,0.0
2023-01-23 00:00:00+01:00,118.900002,119.519997,117.879997,119.220001,774252,0.0,0.0
2023-01-24 00:00:00+01:00,119.300003,120.779999,118.000000,120.779999,1197587,0.0,0.0
2023-01-25 00:00:00+01:00,121.000000,122.019997,120.059998,120.139999,1083764,0.0,0.0
2023-01-26 00:00:00+01:00,119.339996,121.199997,119.080002,120.940002,1267450,0.0,0.0
2023-01-27 00:00:00+01:00,117.239998,119.519997,116.320000,116.620003,1727332,0.0,0.0
2023-01-30 00:00:00+01:00,115.680000,117.019997,114.839996,115.519997,1080203,0.0,0.0
2023-01-31 00:00:00+01:00,112.820000,115.120003,112.500000,114.839996,1357678,0.0,0.0
2023-02-01 00:00:00+01:00,114.839996,116.040001,114.199997,116.040001,1102143,0.0,0.0
2023-02-02 00:00:00+01:00,115.959999,117.959999,115.820000,117.760002,1394176,0.0,0.0
2023-02-03 00:00:00+01:00,117.339996,117.720001,115.739998,117.120003,1587465,0.0,0.0
2023-02-06 00:00:00+01:00,116.639999,116.980003,114.300003,115.739998,1402253,0.0,0.0
2023-02-07 00:00:00+01:00,114.000000,114.540001,111.980003,112.300003,1645024,0.0,0.0
2023-02-08 00:00:00+01:00,113.019997,114.320000,112.099998,113.300003,1278365,0.0,0.0
2023-02-09 00:00:00+01:00,113.820000,114.440002,113.099998,113.660004,877598,0.0,0.0
2023-02-10 00:00:00+01:00,113.419998,114.500000,112.500000,113.739998,1306910,0.0,0.0
2023-02-13 00:00:00+01:00,114.300003,116.419998,114.199997,115.599998,1240331,0.0,0.0
2023-02-14 00:00:00+01:00,115.080002,116.980003,114.879997,115.980003,1245678,0.0,0.0
2023-02-15 00:00:00+01:00,116.180000,119.400002,116.080002,119.059998,1547125,0.0,0.0
2023-02-16 00:00:00+01:00,120.000000,124.940002,120.000000,124.940002,2621505,0.0,0.0
2023-02-17 00:00:00+01:00,125.000000,125.940002,123.480003,125.660004,1980783,0.0,0.0
2023-02-20 00:00:00+01:00,125.820000,126.040001,123.080002,123.500000,204804,0.0,0.0

In [804]:
client = MongoClient('mongo')
db = client["reddit_db"]
yf_db = db["yahoo_finance"]
# yf.insert_many(hist.to_dict('records'))
# hist.drop(['Dividends','Stock Splits'], axis = 1, inplace = True)

In [805]:
cur = yf_db.find()

In [806]:
next(cur)

{'_id': ObjectId('63ee57dddfed08907befe6aa'),
 'Open': 134.6244491893705,
 'High': 137.08069030895024,
 'Low': 133.9255194088204,
 'Close': 135.73275756835938,
 'Volume': 63646600}

In [807]:
yf.drop()

AttributeError: module 'yfinance' has no attribute 'drop'

In [808]:
from yf_data import *

In [809]:
yf_data()

In [810]:
print(client.list_database_names())

['admin', 'config', 'local', 'reddit_db']

In [811]:
db.list_collection_names()

['yahoo_finance.collection', 'reddit', 'yahoo_finance']

In [819]:
yt_fin = db['reddit'].find()
yt_fin

In [1055]:
next(yt_fin)

StopIteration: